@import "tailwindcss";

@theme {
  --color-blue-gray: #1d2439;
  --color-blue-gray-900: #1d2439;
  --color-blue-gray-300: #d0d5dd;
  --color-blue-gray-25: #fcfcfd;
  --color-blue-900: #002833;
  --color-blue-500: #00c6ff;
  --color-blue-100: #adedff;
  --color-purple-900: #1c0033;
}

button {
  @apply cursor-pointer;
}

@layer utilities {
  .style-shadow {
    box-shadow: 0px 1px 0px 2px #61d0f0;
  }
}
